/**
 * Color definitions.
 **/

$header-text-color: #999;        // text and nav link color in the header.
$header-nav-color: #0090B2;      // Menu item navigation color.
$content-text-color: #333;       // content text color
$footer-text-color: #999;        // text color in the footer.

$post-link-color: #ff9b0b;       // post title link color.
$normal-link-color: #0090B2;     // anchor tags within the content area.
$hover-link-color: #ff7a00;      // on hover of anchor tags within the content area.

$table-border-color: #eee;       // border color for tables.

$blockquote-txt-color: #999;     // text color for blockquote.
$blockquote-border-color: #eee;  // left border color of blockquote.

$code-bg-color: #eee;            // background color for highlighted code.
