/**
 * Color definitions.
 **/

$primary-text-color: #333;

$normal-nav-color: #999;

$normal-footer-color: #999;

$normal-post-link-color: #ff9b0b;

$normal-link-color: #0090B2;
$hover-link-color: #FF7A00;

$table-border-color: #eee;

$blockquote-txt-color: #999;
$blockquote-border-color: #eee;

$code-bg-color: #eee;
